<script src="/src/PennySeedContract.js"></script>

<h2>Campaigns</h2>

<ul>
    <% campaigns.forEach(campaign => { %>
        <li>
            <%- include('campaign', {campaign}) %>
        </li>
    <% }); %>
</ul>