<html>
    <head>
        <script src="/src/PennySeedContract.js"></script>
    </head>
    
    <body>
        <h1>Penny Seed</h1>

        <ul>
            <% if(typeof _user !== "undefined") { %>
            <li><a href="/account">My Account</a></li>
            <% } else { %>
            <li><a href="/login">Login</a></li>
            <% } %>
            <li><a href="/campaigns">Campaigns</a></li>
        </ul>
    </body>
</html>