<html>
    <body>
        <button id=createCampaignButton>Create Campaign</button>
    </body>

    <script>
        var contract;
        ethereum.enable()
            .then(accounts => {
                fetch('/contract').then(response => response.json()).then(_contract => {
                    contract = web3.eth.contract(_contract.abi).at(_contract.address);
                    contract.allEvents({}, {fromBlock : 0, toBlock : "latest"}).watch((error, log) => console.log(log));

                    createCampaignButton.addEventListener("click", event => {
                        const targetAmount = 200;
                        const minimumNumberOfPledgers = 10;
                        const campaignPeriod = 100;

                        contract.createCampaign(targetAmount, minimumNumberOfPledgers, campaignPeriod, (error, transaction) => {
                            if(error == null)
                                console.log(`Transaction: ${transaction}`);
                            else
                                console.error(error);
                        });
                    });
                });
            });
    </script>
</html>