<h1>Change Password</h1>

<p class='error'><%= messages.error %></p>

<form autocomplete='off' action='/change-password' method='POST'>
    <div>
        <label for='currentPassword'>Current Password</label>
        <input name='currentPassword' type='password' id='username'>
    </div>

    <div>
        <label for='newPassword'>New Password</label>
        <input name='newPassword' type='password' required>
    </div>

    <div>
        <label for='verifyNewPassword'>Verify New Password</label>
        <input name='verifyNewPassword' type='password' required>
    </div>

    <button type='submit' disabled>Change Password</button>
</form>

<script>
    const submitButton = document.querySelector('button[type="submit"]');
    
    let areInputsNonempty = true;
    let doPasswordsMatch = false;

    const updateSubmit = () => {
        submitButton.disabled = !(areInputsNonempty && doPasswordsMatch);
    }

    const currentPasswordInput = document.querySelector('input[name="currentPassword"]');
    const newPasswordInput = document.querySelector('input[name="newPassword"]');
    const verifyNewPasswordInput = document.querySelector('input[name="verifyNewPassword"]');

    [currentPasswordInput, newPasswordInput, verifyNewPasswordInput].forEach(input => {
        input.addEventListener('input', event => {
            areInputsNonempty = (currentPasswordInput.value.length > 0) && (newPasswordInput.value.length > 0) && (verifyNewPasswordInput.value.length > 0);
            updateSubmit();
        });
    });

    [newPasswordInput, verifyNewPasswordInput].forEach(input => {
        input.addEventListener('input', event => {
            doPasswordsMatch = (newPasswordInput.value == verifyNewPasswordInput.value);
            updateSubmit();
        });
    });
</script>