<h1>Penny Seed - Decentralized Income</h1>

<p>
    PennySeed is a crowdfunding platform where the funding goal is divided by the number of pledgers.
    For instance, if you ask for $1,000 and reach 500 pledgers, then each pays $2, and if 1,000 people pledge, then each pays only $1.
</p>

<p>
    Campaigns require a deadline and a minimum number of pledgers - that way people know the maximum possible pledge amount (campaign_goal / minimum_number_of_pledgers).
</p>

<p>
    Payments are done via <a href='https://stripe.com/'>Stripe</a>, and pledge amounts include the Stripe processing fees (2.9% + $0.30) so the campaigner gets exactly how much they ask for.
</p>

<p>To learn more, check out the <a href='https://github.com/zakaton/Penny-Seed/blob/master/README.md'>README</a> on the <a href='https://github.com/zakaton/Penny-Seed'>GitHub repo</a></p>

<h2>Steps to Create a Campaign:</h2>
<ol>
    <li><a href='/register'>Create an Account</a></li>
    <li><a href='/stripe/connect/create'>Connect a Stripe Account</a></li>
    <li><a href='/create-campaign'>Create a Campaign</a></li>
</ol>

<h2>Steps to Pledge to a Campaign:</h2>
<ol>
    <li><a href='/register'>Create an account</a></li>
    <li><a href='/add-payment-info'>Add payment information </a></li>
    <li>go to a campaign page (you can find all campaigns <a href='/campaigns'>here</a>)</li>
</ol>